@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8" />
     <title>Login - SkillForge</title>
     @Styles.Render("~/bundles/login/css")
</head>
<body>
     @RenderBody()
     @Scripts.Render("~/bundles/login/js")
</body>
</html>